.technology-title {
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
}

.technology-title:after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.technologyList {
    display: flex;
    
}

@media (max-width: 600px) {
    .technologyList {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    
}

.technologyItem {
    margin-left: 2rem;
}