
.technologyList {
    display: flex;
    color: #f2f5f7;
    
}

@media (max-width: 600px) {
    .technologyList {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    
}

.technologyItem {
    margin-left: 2rem;
    color: #f2f5f7;
}