.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    position: relative;
}

.title:after {
    content: '';
    height: 2px;
    width: 75%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
}