.phone {
    text-decoration: none;
    color: crimson;
    margin-left: 0.5rem;
    
}



.hoverDiv {
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.hoverDiv:hover{
    transform: scale(1.05)
}